name: Build

on:
  push:
    paths:
      - ".github/workflows/ci.yml"
      - ".rubocop.yml"
      - "*.gemspec"
      - lib/**
      - spec/**
      - Rakefile
      - Gemfile
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.4, 2.5, 2.6, 2.7, jruby, truffleruby]
    env:
      CI: true
      COVERALLS_REPO_TOKEN: ${{ secrets.REPO_COVERALLS_TOKEN }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: gems-${{ matrix.ruby }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: gems-${{ matrix.ruby }}
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install latest bundler
        run: |
          gem install bundler --no-document
          bundle config set without 'tools benchmarks docs'
      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3 --without development
      - name: Run Rubocop
        if: matrix.ruby != 'truffleruby'
        run: bundle exec rubocop --parallel
      - name: Run all tests
        run: bundle exec rake
